<!DOCTYPE html>
<html>
  <head>
    <title>PageTurner</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>PageTurner</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('existing_reviews')}}">Existing Reviews</a> |
          <a href="{{ url_for('write_review')}}">Review a Book!</a>
          <a href="{{ url_for('register')}}">Register!</a></li>
          <a href="{{ url_for('login')}}">Login!</a></li>
          <a href="{{ url_for('logout')}}">Logout</a></li>

        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this app is available on 
          <a href="https://github.com/nyu-database-design/flask-mongodb-web-app"
            >Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
