{% extends 'base.html' %} 

{% block container %}

<head>
    <title>Logout</title>
    
    
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form action="/logout" method="POST">
        <h2>Logout!</h2>
        <input type="text" name="email" id="email" placeholder="Enter Email">
        <input type="submit" value="Logout">
    </form>
</body>
{% endblock %}